<link href="/css/table.css" rel="stylesheet" type="text/css">
<form action="/" method="post">
  <input type="text" name="word">
  <button type ="submit" class ="btn">Define me</button>
</form>
<br>
<label for="word_search">Filter:</label> <input type="text" id="word_search" value=""/>
<table id="my-table" style="border-collapse:collapse">
  <thead>
  <tr>
    <th>Word</th>
    <th>Definition</th>
    <th>Most Recent Lookup Date</th>
    <th># of Lookups</th>
  </tr>
  </thead>
  <tbody>
  <% if @words.count > 0 %>
  <% @words.each do |word| %>
    <tr>
      <td><a href="/word/<%= word.id %>"><%= word.word %></a></td>
      <td><%= word.definition %></td>
      <td><%= word.created_at.strftime('%m/%d/%Y') %></td>
      <td><%= word.counter %></td>
    </tr>
  <% end %>
  <% end %>

  </tbody>
</table>
